extends layout

block content
  h1= title
  h4 Service Mode => #{service}
  p= content
   if process.env.NODE_ENV == 'development'
       ui
        each val in ip
         li= val
       p Device is looking for... => #{target}
   else
       div © 2016 모두의주차장 All Right Reserved